name: Generate ASCII Artwork

on:
    push

jobs: 
    build_job_1: 
        runs-on: ubuntu-latest
        steps:
            - name: Install cowsay program
              run : sudo apt-get install cowsay -y

            - name: Execute cowsay program
              run : cowsay -f dragon "Run for cover, I am a dragon...RAWR" >> dragon.txt

            - name: List directory
              run : |
                    cwd
                    ls -al